<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container">
      <h1>   <%= current_user.name if current_user.name%> Escrever o codigo para puxar nome do usuario </h1>       
      <p> <%= current_user.city if current_user.city %> Escrever codigo para localizaççao do usuario </p>       
      <%= cl_image_tag current_user.photo.key, class: "avatar"  if current_user.photo.attached?%>
      

    </div>
</div>
<div class="text-center">
  <img src="..." class="rounded" alt="...">
  <img src="..." class="rounded mx-auto d-block" alt="...">
</div>



<div class= "container">
    <h1> where2live </h1>
    <!-- <p> make your choice better to live </p> -->
    <!-- <div class = "">
        <div class="row"> <p> you have 0 Replies </p> </div>
        <div class="row">Edit profile</div>
        <div class="row">configuration</div>
        <div class="row">Sign out</div>
    </div> -->
    <%= link_to root_path, class: "btn btn-ghost border-bottom" do %>
      <i class="far fa-comment-alt"></i> You have 0 Replies
     <% end %> 
     <%= link_to root_path, class: "btn btn-ghost border-bottom" do %>
      <i class="fas fa-pencil-alt"></i>  Edit profile
     <% end %>
     <%= link_to root_path, class: "btn btn-ghost border-bottom" do %>
      <i class="far fa-star"></i> Add your review
     <% end %>
     <%= link_to root_path, class: "btn btn-ghost border-bottom" do %>
      <i class="fas fa-wrench"></i> Configuration
     <% end %>
     <%= link_to root_path, class: "btn btn-ghost border-bottom" do %>
      <i class="fas fa-sign-out-alt"></i> Sign out
     <% end %> 
    <%#= link_to   "You have 0 messages", "#", class: "btn btn-ghost border-bottom" %>
    <%#= link_to "Edit profile", "#", class: "btn btn-flat border-bottom" %>
    <%#= link_to "Configuration", "#", class: "btn btn-gradient border-bottom" %>
    <%#= link_to "sign out", "#", class: "btn btn-flat border-bottom" %>

    
</div>
<%= render 'shared/navbar' %>

</div>
