<hr class="hr-1">
<div class="container">
  <img class="logo" src="https://res.cloudinary.com/where2live/image/upload/v1606838131/where2Live/Assets/where2live-logo_tklfqh.svg">
  <h1>Reset your password?</h1>

  <hr class="hr-2 mb-4">

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send instructions", class: 'btn btn-primary w-100' %>
  </div>
<% end %>

<div class="back-to-login">
  <%= link_to "Back to login", new_session_path(resource_name) %><br />
</div>
