<div class="banner">
    <div class="container-users" >
    <%= current_user.name if current_user.name%>
    <%= current_user.city if current_user.city %>
    <%= cl_image_tag current_user.photo.key, class: "avatar"  if current_user.photo.attached?%>
<img src="https://res.cloudinary.com/where2live/image/upload/v1607364446/where2Live/Assets/Ellipse_4_vvrs2k.png">
<div class="text-center">
<h2> <img class="users.pictures" alt="users.pictures" src= /> </h2>
</div>


</div>
</div>
<div class= "container">
<h1> where2live </h1>
<!-- <p> make your choice better to live </p> -->
<!-- <div class = "">
<div class="row"> <p> you have 0 Replies </p> </div>
        <div class="row">Edit profile</div>
        <div class="row">configuration</div>
        <div class="row">Sign out</div>
        </div> -->
        <%= link_to root_path, class: "btn btn-ghost border-bottom" do %>
          <i class="far fa-comment-alt"></i> You have 0 Replies
          <% end %>
          <%= link_to root_path, class: "btn btn-ghost border-bottom" do %>
            <i class="fas fa-pencil-alt"></i>  Edit profile
            <% end %>
            <%= link_to root_path, class: "btn btn-ghost border-bottom" do %>
      <i class="far fa-star"></i> Add your review
      <% end %>
     <%= link_to root_path, class: "btn btn-ghost border-bottom" do %>
      <i class="fas fa-wrench"></i> Configuration
      <% end %>
      <%= link_to root_path, class: "btn btn-ghost border-bottom" do %>
      <i class="fas fa-sign-out-alt"></i> Sign out
      <% end %>
      <%#= link_to   "You have 0 messages", "#", class: "btn btn-ghost border-bottom" %>
      <%#= link_to "Edit profile", "#", class: "btn btn-flat border-bottom" %>
      <%#= link_to "Configuration", "#", class: "btn btn-gradient border-bottom" %>
      <%#= link_to "sign out", "#", class: "btn btn-flat border-bottom" %>


      </div>
      <%= render 'shared/navbar' %>

      </div>
