<div class= "container-profile">
  <div class="banner-profile" >
    <div class="container text-center">
      <h1><%= current_user.name if current_user.name%></h1>
      <p><i class="navbar-icon pin-profile fas fa-map-marker-alt"></i> <%= current_user.city if current_user.city %></p>
      <%= cl_image_tag current_user.photo.key, class: "avatar"  if current_user.photo.attached?%>
    </div>
  </div>

  <div class= "wls">
    <div class="container-btn">
      <%= link_to "", class: "btn btn-ghost-profile border-bottom" do %>
      <i class="far fa-comment-alt"></i> You have 0 Replies
      <% end %>
      <%= link_to "", class: "btn btn-ghost-profile border-bottom" do %>
      <i class="fas fa-pencil-alt"></i>  Edit profile
      <% end %>
      <%= link_to "", class: "btn btn-ghost-profile border-bottom" do %>
      <i class="far fa-star"></i> Add your review
      <% end %>
      <%= link_to "", class: "btn btn-ghost-profile border-bottom" do %>
      <i class="fas fa-wrench"></i> Configuration
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-ghost-profile border-bottom" do %>
      <i class="fas fa-sign-out-alt"></i> Sign out
      <% end %>
    </div>
  </div>

</div>
<%= render 'shared/navbar' %>
