<hr class="hr-1">
<div class="container">
  <img class="logo" src="https://res.cloudinary.com/where2live/image/upload/v1606838131/where2Live/Assets/where2live-logo_tklfqh.svg">
  <h1>Login now!</h1>

  <hr class="hr-2 mb-4">

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: 'btn btn-primary w-100' %>
    </div>
  <% end %>

  <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'forgot-password' %><br />

  <hr class="hr-2 mb-4">

  <button type="submit" class="btn-social"><i class="fab fa-facebook-f"></i> Facebook</button>
  <button type="submit" class="btn-social"><i class="fab fa-google"></i> Google</button>

  <div class="sign-up">
    <h3>Don't have an account yet?</h3>
    <%= link_to "Sign In", new_registration_path(resource_name), class: 'subscribe' %><br />
  </div>

</div>
