<hr class="hr-1">
<div class="container">

  <%= link_to neighborhood_reviews_path(current_user.neighborhood) do %>
  <i class="fas fa-arrow-left back-arrow"></i>
  <% end  %>

<h1><%= @neighborhood.name %></h1>
  <hr class="hr-2 mb-4">

<div id="messages" data-neighborhood-id="<%= @neighborhood.id if @neighborhood.id %>">
  <% @neighborhood.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.user.name %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
      <hr class="hr-2 mb-4">
    </div>
  <% end %>
</div>

<%= simple_form_for [ @neighborhood, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Write your message here" %>
<% end %>
</div>

