<!DOCTYPE html>
<html>
  <head>
    <title>where2live</title>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/where2live/image/upload/v1606836143/where2Live/Assets/where2live-icon-1_agi83h.svg">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
